@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */
html, body{
    margin:0;
}
ul, li{
    margin:0;
    padding:0;
    list-style:none;
}
a{
    text-decoration:none;
    color:#fff;
    font-family: 'Noto Sans KR', sans-serif;
}
h1,p{
    margin:0;
    padding:0;
    font-family: 'Noto Sans KR', sans-serif;
}

header{

    position:fixed;
    z-index:100;
    width:100%;


}
header nav{

    margin:2% auto;
    width:90%;
display:flex;
justify-content:space-between;
align-items:center;
}
header nav .logo a{
font-size:1.4em;
 text-transform:uppercase;
color:#000;
font-weight:bold;

}


header nav .navbar ul{
width:100%;
}
header nav .navbar ul li{
    display:inline-block;
}
header nav .navbar ul li a{
    padding:3px 20px;

}
header .menu-trigger{
    position:fixed;
    right:3%;
    top:33px;
    z-index:200;

}
 .menu-trigger a{
    width:18px;
    height:20px;
    display:block;
    transition:.5s;
}
 .menu-trigger a > span{
    display:block;
    position:absolute;
    left:0;
    background:white;
    width:100%;
    height:2px;
}

 .menu-trigger a > span:nth-of-type(2){
    top:50%;
    transform:translateY(-50%);
}
header .menu-trigger a > span:nth-of-type(3){
bottom:0;
}

 .menu-trigger.active a > span:nth-of-type(1){
    bottom:50%;
    transform:rotate(45deg);
}

 .menu-trigger.active a > span:nth-of-type(2){
   display:none;
}
 .menu-trigger.active a > span:nth-of-type(3){
bottom:50%;
transform:rotate(-45deg);
}

main{
    width:100vw;
    height:100vh;



}
main .box{
    position:relative;
    width:100%;
    height:100%;
}

main .box .back{
    background:#ffc000;
    width:60%;
    height:100%;
    position:absolute;
    top:0;
    right:0;
    z-index:0;

}
main .box .back .txt{
    width:80%;
    margin:0 auto;
    padding:5% 0% 5% 15%;
color:#fff;
white-space:pre-line;
}
main .box .back .txt > h2{
font-size:3em;
margin-bottom:1%;

}
main .box .back .txt > p{
    margin-bottom:10%;
}
main .box .back .txt .view{

    z-index:5;
}
main .box .back .txt .view > a{
    display:block;
    padding:2px 3px;
}
main .popup.active{
    display:block;
position:absolute;
z-index:150;
width:100%;
height:100%;
top:0;
left:0;
background:rgba(0,0,0,0.5);
}
main .popup{
    display:none;
}
main .popup.active p{
    display:block;
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:0 auto;
}
main .popup.active p img{

    width:40%;
    height:50%;
}
main .popup.active .menu-trigger{
    position:fixed;
    right:28%;
    top:23%;
    z-index:200;

}
main .box .vita{
    position:absolute;
    top:50%;
    left:25%;
    transform:translateY(-50%);
    z-index:1;
}
main .box .vita > p{
    width:80%;

}
main .box .vita > p img{
    width:100%;
}
main .box .indi .right{
    position:absolute;
    top:50%;
    right:5%;
    transform:translateY(-50%);
}

main .box .indi .right li{
    border:1px solid #fff;
    border-radius:100%;
    width:6px; height:6px;
    margin-bottom:20px;
}

main .box .indi .left{
    position:absolute;
    top:50%;
    left:5%;
    transform:translateY(-50%);
}
main .box .indi .left li{
    border-left:2px solid #ddd;
    height:300px;
    position:relative;
}
main .box .indi .left li > a{
    color:#000;
    background:#fff;
    display:block;
    display:flex;
    justify-content:center;
    align-items:center;
    width:30px;
    height:50px;
    position:absolute;
    left:0;
    top:50%;
    transform:translate(-50%, -50%);

}
main .sns{
position:fixed;
right:5%;
bottom:5%;
}
main .sns > span{
font-size:0;
display:block;
width:200px;
height:40px;
}
main .sns > span a{
width:40px;
height:40px;
display:inline-block;
margin-right:20px;

}
main .sns > span .twit{
background:url('ic_twitter.png') no-repeat;
}
main .sns > span .insta{
    background:url('ic_insta.png') no-repeat;
}
main .sns > span .fb{
    background:url('ic_facebook.png') no-repeat;
}